<div class="images-nav">
    <div class="header">

        <h1>Read Article</h1>
    </div>
</div>


<div class="pagds">
    <div class="pag-content">
        <div class="sidebar">
            <h2>Search</h2>
            <div class="side-con-one">
                <div class="content">
                    <input class="inputSearch" type="text" placeholder="Sarch for Artical">
                    <h2 class="recent">RECENT POST</h2>
                    <div class="sid-ecent-post">
                        <div class="content-set">
                            <a href="#">
                                <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            </a>
                            <h4>
                                <a href="#">Lorem ipsum dolor...</a>
                            </h4>
                        </div>
                        <div class="content-set"><a href="#">
                                <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            </a>
                            <h4>
                                <a href="#">Lorem ipsum dolor...</a>
                            </h4>
                        </div>
                        <div class="content-set"> <a href="#">
                                <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            </a>
                            <h4>
                                <a href="#">Lorem ipsum dolor...</a>
                            </h4>
                        </div>
                        <div class="content-set">
                            <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            <h4><a href="#" class="dis"><p>
                                ON DEMAND
                                Panel: The state of JavaScript
                                Join some of the most influential minds in JavaScript for a live discussion on what the future holds for the language.</p></a>
                            </h4>
                        </div>
                        <div class="content-set"><a href="#">
                                <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            </a>
                            <h4>
                                <a href="#">Lorem ipsum dolor...</a>
                            </h4>
                        </div>
                        <div class="content-set"><a href="#">
                                <img src="../../../assets//Articals/section-book(4).jpg" alt="">
                            </a>
                            <h4>
                                <a  class="dis" href="#"><p>Lorem ipsum dolor...v Lorem ipsum dolor...Lorem ipsum dolor...Lorem ipsum dolor</p></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-con-Two">
                <h2 class="recent">ARCHIVE</h2>
                <h5>July 2018</h5>
                <h4><a href="">Lorem ipsum dolor sit amet...</a>
                </h4>
                <h4><a href="">Lorem ipsum dolor sit amet...</a>
                </h4>
                <h4><a href="">Lorem ipsum dolor sit amet...</a>
                </h4>
                <h4><a href="">Lorem ipsum dolor sit amet...</a>
                </h4>
                <h4><a href="">Lorem ipsum dolor sit amet...</a>
                </h4>
            </div>
            <div class="side-con-Three">
                <div class="tag">
                    <h2 class="recent">TAGS</h2>
                    <h5>July 2018</h5>
                </div>
                <div class="tag-hash">

                    <h4><a href="#">Lorem1Lorem1  </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1  Lorem1</a>
                    </h4>
                    <h4><a href="#"> dolor2</a>
                    </h4>
                    <h4><a href="#">Lorem 3</a>
                    </h4>
                    <h4><a href="#">Lorem 4</a>
                    </h4>
                    <h4><a href="#"> ipsum 5</a>
                    </h4>
                </div>

            </div>
        </div>
        <!--end sidpar-->
        <div class="main">
            <div class="content">
                <!--imageArtica-->
                <div><img class="imgArticle" src="../../../assets/Articals/section-book(1).jpeg" alt=""></div>
                <div class="contentArtical">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p class="pragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi. </p>
                    <p class="centerartical">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!</p>
                    <p class="pragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.


                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        <a href="#">read abot us this Artical Click Here</a>
                    </p>
                    <div class="endArtical">
                        <img src="./images/blog-dec-img1_large (1).webp" alt="">
                        <img src="./images/4 (1).webp" alt="">
                    </div>
                    <div class="end-artical">
                        <p>Tags: library, shop</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--start sidpar-->

</div>