<div class="images-nav">
    <div class="header">

        <h1>Read Article</h1>
    </div>
</div>


<div class="pagds">
    <div class="pag-content">
        <div class="sidebar">
            <h2>Search</h2>
            <div class="side-con-one">
                <div class="content">
                    <input class="inputSearch" type="text" placeholder="Sarch for Artical">
                    <h2 class="recent">RECENT POST</h2>
                    <div class="sid-ecent-post">
                        <div class="content-set" *ngFor="let cat of getCatogry">
                            <a  class="boxImage">
                                <img src="{{cat?.cover}}" alt="">
                            </a>
                            <h4 class="boxTitle">
                                <a>{{cat?.title}}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-con-Two">
                <h2 class="recent">ARCHIVE</h2>
                <h4  *ngFor="let ttest of allCategory">
                    <span  routerLink="/articles/details/{{ttest.title}}" style="font-size: 15px; background-color: #999; padding:5px 10px; color: #FFF;cursor: pointer;">{{ttest.title}}</span>
                </h4>

            </div>
            <!-- <div class="side-con-Three">
                <div class="tag">
                    <h2 class="recent">TAGS</h2>
                    <h5>July 2018</h5>
                </div>
                <div class="tag-hash">

                    <h4><a href="#">Lorem1Lorem1  </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1 </a>
                    </h4>
                    <h4><a href="#">Lorem1  Lorem1</a>
                    </h4>
                    <h4><a href="#"> dolor2</a>
                    </h4>
                    <h4><a href="#">Lorem 3</a>
                    </h4>
                    <h4><a href="#">Lorem 4</a>
                    </h4>
                    <h4><a href="#"> ipsum 5</a>
                    </h4>
                </div>

            </div> -->
        </div>
        <!--end sidpar-->
        <div class="main">
            <div class="content">
                <!--imageArtica-->
                <div><img class="imgArticle" src="{{datas?.cover[0]}}" alt="Artical"></div>
                <div class="contentArtical">
                    <h3 style="border-left: 1px solid #b4352a;padding-left: 10px ;">{{datas?.title}}</h3>
                    <p class="pragraph">{{datas?.text}}</p>
                    <!-- <p class="centerartical">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!</p>
                    <p class="pragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.


                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet dicta repudiandae impedit numquam nesciunt a, doloribus quo? Illo harum ipsa qu
                        ae ratione accusantium neque soluta reprehenderit, eius
                        velit eveniet enim.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Aliquid, laborum nostrum ipsa explicabo nihil adipisci maxime
                        deleniti eos molestias quasi dolores
                        . Voluptate rerum harum accusamus fuga cumque nihil, asperiores
                        eligendi.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        In doloribus amet veritatis error dolorum laboriosam, nesciunt
                        nulla eveniet dolorem natus corrupti, sapiente nisi enim quisquam,
                        quidem aut ipsa delectus quas!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        dicta eligendi facilis dolor neque sit ea vero, quam iste quasi earum ab cum alias culpa
                        nesciunt! Molestiae ullam sed qui.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat
                        atque nobis nemo sit odio veniam illo, ex totam quo? Dolorem sapiente corporis
                        sunt perspiciatis assumenda nihil optio! Dolores, nostrum?
                        <a href="#">read abot us this Artical Click Here</a>
                    </p> -->
                    <a href="{{datas.links}}">Read more About Artical</a>
                    <div class="endArtical">
                        <!-- {{datas|json}} -->

                        <img src="{{datas.cover[1]}}" alt="the Artical">
                        <img src="{{datas.cover[2]}}" alt="the Artical ">
                    </div>
                    <div class="end-artical">
                        <p>Tags: library, shop</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--start sidpar-->

</div>