<div class="images-nav">
    <div class="header">

        <h1><span style="color: #ea895fbf;">R</span>ead Article</h1>
    </div>
</div>


<div class="pagds">
    <div class="pag-content">
        <div class="sidebar">
            <!-- <h2>Search</h2> -->
            <div class="side-con-one">
                <div class="content">
                    <!-- <input class="inputSearch" type="text" placeholder="Sarch for Artical"> -->
                    <h2 class="recent">RECENT POST</h2>
                    <div class="sid-ecent-post">
                        <div class="content-set" *ngFor="let cat of getCatogry">
                            <a  class="boxImage">
                                <img src="{{cat?.cover[0]}}" alt="">
                            </a>
                            <h4 class="boxTitle">
                                <a routerLink="/articles/list/{{cat?._id}}" (click)="test()">{{cat?.title.slice(0,21)}}...</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-con-Two">
                <h2 class="recent">ARCHIVE</h2>
                <h4  *ngFor="let ttest of allCategory">
                    <span class="archives"  routerLink="/articles/details/{{ttest.title}}" >{{ttest.title}}</span>
                </h4>

            </div>
            
        </div>
        <!--end sidpar-->
        <div class="main">
            <div class="content">
                <!--imageArtica-->
                <div><img class="imgArticle" src="{{datas?.cover[0]}}" alt="Artical"></div>
                <div class="contentArtical">
                    <h3 style="border-left: 1px solid #b4352a;padding-left: 10px ;">{{datas?.title}}</h3>
                    <p class="pragraph">{{datas?.text}}</p>
                    <a href="{{datas?.links[0].link}}" target="_blank">Read more About Artical</a>
                    <div class="endArtical">
                        <img src="{{datas?.cover[1]}}" alt="the Artical">
                        <img src="{{datas?.cover[2]}}" alt="the Artical ">
                    </div>
                    <div class="end-artical">
                        <p>Tags: {{datas.keywords}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--start sidpar-->

</div>