<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <img height="60" width="" class="navbar-brand" src="../../assets/navbar/logo.jpeg" alt="">
    <button class="navbar-toggler h-25" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center ms-1" id="navbarSupportedContent">
      <ul class="text navbar-nav mb-2 mb-lg-0" id="text-show">
        <li class="nav-item">
          <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
          <a class="nav-link " routerLink="home" routerLinkActive="active">home</a>
        </li>
        <li class="nav-item">
          <!-- <i class="fa fa-book" aria-hidden="true"></i> -->
          <a class="nav-link " routerLink="categories" routerLinkActive="active">books</a>
        </li>
        <li class="nav-item">
          <!-- <i class="fa-solid fa-newspaper"></i> -->
          <a class="nav-link " routerLink="/articles/details" routerLinkActive="active">artical</a>
        </li>
        <li class="nav-item">
          <!-- <i class="fa-solid fa-circle-info"></i> -->
          <a class="nav-link " routerLink="aboutus" routerLinkActive="active">about us</a>
        </li>
        <li class="nav-item">
          <!-- <i class="fa-solid fa-file-signature"></i> -->
          <a class="nav-link " routerLink="contactus" routerLinkActive="active">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>