
/* @import url(./defualt.css); */
a {
    text-decoration: none !important;
  }
  ul {
    list-style-type: none;
    display: inline-block;
  }
  
  ul li {
    display: inline-block;
  }
/* Start Header */

nav {
  position: sticky;
  width: 100%;
  z-index: 100000;
  top: 0;
  background-color: #fff;
 box-shadow: 0 0  7px #000;
}
 

nav  .text {
  text-transform: capitalize;
  /* font-size: 25px; */
  margin-right: 20px;
}

nav .text li {
  margin-right: 10px;
  position: relative;
}
nav  .text li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #ce7852;
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}
nav  .text li:hover::before {
  width: 100%;
}
nav  .text li a {
  color: #000;
  font-weight: 600;
  font-size: 16px;

  transition: all 0.5s;
}

nav  .text li a:hover {
  color: #ce7852;
}

nav  .icons {
  margin-left: 10px;
}

nav  .icons li {
  padding: 10px;
}
nav  .icons .print {
  position: relative;
}
nav  .icons .print::after {
  position: absolute;
  content: attr(data-count);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 0px;
  left: 10px;
  font-size: 12px;
  text-align: center;
  color: #b93f0b;
  font-weight: bold;
}

nav  .icons li i {
  color: #000;
  cursor: pointer;
  transition: all 0.5s;
}

nav  .icons li i:hover {
  color: #ce7852;
}
nav  .nav-respons{
    display: none;
}
nav  .nav-respons i{
  color: #000;
  font-size: 20px;
  margin-left: 20px;
}

/* End Nav */

