    <!-- Start Footer -->
    <footer>
      
        <div class="ftext">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio quas atque deserunt.
            <br> Quos, expedita quod rerum quia officia deleniti sunt.
        </div>
        <ul class="ficon" style="display:block ;">
            <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i  class="fa fa-google-plus-square" aria-hidden="true"></i></li>
            <li><i class="fa fa-github" aria-hidden="true"></i></li>
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        </ul>
        <ul class="flist">
            <li><a routerLink="contactus">Bolicy</a></li>
            <li><a routerLink="contactus">Contact</a></li>
        </ul>
    </footer>
<!-- End Footer -->