<!-- Start Footer -->
<footer>
    <div>
        <img src="../../assets/navbar/logo.png" width="130px" style="filter: grayscale(0.2);"/>
    </div>
    <div class="ftext">
        We Works To Connect Readers With All Kinds Of Educational, Motivation<br> And Career Books To Keep You Going
        In Any Areas We Believe Local Bookstores Are Essential Community Hubs That Foster Culture, Curiosity<br> And A Love
        Of Reading.
    </div>
    <ul class="ficon" style="display:block ;">
        <a href="https://www.facebook.com/ekitabi2022/" target="_blank" rel="noopener noreferrer">
            <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
        </a>

        <a href="https://twitter.com/EKitabi2022?t=WRS4fdHuJ188Tmc1aHw1PQ&s=09" target="_blank" rel="noopener noreferrer">
            <li>
                <i class="fa fa-twitter"></i>
            </li>
        </a>
        <a href="mailto:malek.waleed514009@gmail.com" target="_blank" rel="noopener noreferrer">
            <li>
                <i class="fa-regular fa-envelope"></i>
            </li>
        </a>
       <a href="http://" target="_blank" rel="noopener noreferrer">
           <li>
            <i class="fa fa-youtube"></i>
        </li>

       </a>
        <a href="https://www.instagram.com/ekitabi2022/" target="_blank" rel="noopener noreferrer">
            <li>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </li>
        </a>
    </ul>
    <ul class="flist">
        <li><a routerLink="/user/policy">Policy</a></li>
        <li><a routerLink="/user/preview">preview</a></li>
    </ul>
</footer>
<!-- End Footer -->