a {
    text-decoration: none !important;
  }
  ul {
    list-style-type: none;
    display: inline-block;
  }
  
  ul li {
    display: inline-block;
  }
/* Start Footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 40px;
}

footer .ftext {
    padding-top: 40px;
    color: #666;
    font-size: 15px;
    padding-bottom: 20px;
}

footer .ficon li {
    padding: 10px 10px;

}

footer .ficon li i {
    font-size: 25px;
    cursor: pointer;
    transition: all .5s;
}

footer .ficon li i:hover {
    color: #ce7852;
}

footer .flist li a {
    padding: 20px 15px;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    transition: all .5s;
}

footer .flist li:hover {
    color: #ce7852;
}

/* End Footer */
