<form class="row g-3" [formGroup]="addartical" (ngSubmit)="AddArticle()" enctype="multipart/form-data">
  <div class="container mt-3">
    <h1 class="new"><span> A</span>dd <span>N</span>ew <span>A</span>rticale:</h1>


    <div class="">
      <h3 class="col-3 category w-50 ps-2">Select Category:</h3>
      <select class="select w-50 mt-3" style="height: 35px;" name="categoryName" id="category" formControlName="categoryName">
        <option [value]="i.title" *ngFor="let i of dataSelect">{{i.title}}</option>
      </select>
      <div class="alert alert-danger w-50 mt-2 p-2" *ngIf="addartical.get('categoryName')?.touched && addartical.get('categoryName')?.invalid">
        <span *ngIf="addartical.get('categoryName')?.errors?.['required']">Please enter a Category Name</span>

      </div>
    </div>

    <div class="mb-3 mt-5">
      <label for="title" class="form-label addArtNa">Add Article Name:</label>
      <input type="text" class="form-control w-75 " placeholder="Add new Artical...." id="title"
        formControlName="title">
      <div class="alert alert-danger w-75 mt-2 p-2" *ngIf="addartical.get('title')?.touched && addartical.get('title')?.invalid">
        <span class="" *ngIf="addartical.get('title')?.errors?.['required']">Please enter a Article
          name</span>

      </div>
    </div>


    <div class="mb-3">

      <!-- Add Add external links -->
      <div formArrayName="links">

        <div class="my-2">
          <button type="button" (click)="onAddLinks()" class="btn btn-sm btn-warning">Add external links</button>
        </div>
   
          <div class="form-group mt-1" *ngFor="let link of linkesControls; let i = index">
            <div formGroupName={{i}} >
              <input type="text" placeholder="Add Text linke Related for Link.." class="form-control" formControlName="text"/>
              <input type="text" placeholder="Add out linke Related for Articale.." class="form-control" formControlName="link"/>
            </div>
          </div>
        
      </div>

    </div>

    <div formArrayName="keywords">

      <div class="my-2">
        <button type="button" (click)="onAddKeys()" class="btn btn-sm btn-warning">Add keywords</button>
      </div>

      <div class="form-group mt-1" *ngFor="let keyword of keywordsControl; let i = index">
        <input type="text" placeholder="Add out linke Related for Articale.." class="form-control"
          formControlName={{i}} />
      </div>

    </div>



    <div class="mb-3">
      <label for="text" class="form-label mt-2 addArtNa">Description Article</label>
      <textarea class="form-control  w-75 mt-4" id="text" formControlName="description" rows="4" style="max-height:150px ;"></textarea>
      <div class="alert alert-danger w-75 mt-2 p-2" *ngIf="addartical.get('description')?.touched && addartical.get('description')?.errors">
        <span  *ngIf="addartical.get('description')?.errors?.['required']">Please enter a
          description</span>
      </div>
    </div>


    <div class="mb-3">
      <label for="text" class="form-label mt-2 addArtNa">Article Text</label>
      <textarea class="form-control w-75 mt-4" id="text" formControlName="text" rows="6" style="max-height:250px ;"></textarea>
      <div class="alert alert-danger w-75 mt-2 p-2" *ngIf="addartical.get('text')?.touched && addartical.get('text')?.errors">
        <span  *ngIf="addartical.get('text')?.errors?.['required']">Please enter a
          Text In Article</span>
      </div>
    </div>


    <div class="contImg">
      <label for="Photo" class="form-label w-100 mb-3 mt-2 addArtNa">Article Pictures</label>
      <input id="Photo" #attachments (change)="readURL($event)" name="articleImages" id="fileimages" formControlName="cover"
        type="file" accept="image/*" class="file" data-show-upload="false" data-show-caption="true" multiple="">
        <div class="alert alert-danger w-50 mt-2 p-2" *ngIf="addartical.get('cover')?.touched && addartical.get('cover')?.errors">
          <span  *ngIf="addartical.get('cover')?.errors?.['required']">Please enter a
            Photo</span>
        </div>
      <div class="show-images" >
        <div class="listimage" *ngFor="let item of imagearr let index = index">
          <img  id="blah" [src]="item || 'http://placehold.it/180'" height="150" width="150"
          alt="your image" 
        
          />
          <i class="fa-solid fa-trash"   (click)="deleteImage(index)" ></i>
        </div>
      </div>
      <button type="submit" class="btn btn-success mt-4" [disabled]="addartical.invalid">Add Art</button>
      <!-- <button type="submit" class="btn btn-success mt-4" >Add Art</button> -->

    </div>

  </div>
</form>