.main {
   width: auto;
   display: flex;
   flex-direction: row;
}

.navbar {
   position: fixed;
   width: 300px;
   height: 100vh;
   background-color: #119DA4;
   border-left: 10px solid #FFC800;
   transition: 0.5s;
   overflow: hidden;
}

.active {
   width: 80px;
   background-color: white;
   color: #FFC800 !important;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px ;
   font-size: 22px;
   transition: all 0.3s;
}
.active i{
   color: #FFC800;
}
.navbar ul {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
}

.navbar ul li {
   position: relative;
   width: 100%;
   list-style: none;
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
   cursor: pointer;

}

.navbar ul li:hover {
   background-color: #FFC800;
}

.navbar ul li:nth-child(1) {
   margin-bottom: 20px;
   pointer-events: none;
}

.navbar ul li a {
   position: relative;
    width: 100%;
    display: flex;
    color: #f4faff;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.navbar ul li:hover a {
   color: #070707;
}

.navbar ul li a .icon {
   position: relative;
   text-align: center;
   padding: 10px;
   color: #000;
   font-size: 18px;
}

.navbar ul li a .icon ion-icon {
   font-size: 1.75em;
   /* margin-right: 300px; */
}
.navbar ul li a .titel {
   position: relative;
   display: block;
   padding: 0 10px;
   height: 60px;
   line-height: 64px;
   text-align: start;
   white-space: nowrap;
}

.navbar ul li:hover a::before {
   content: "";
   position: absolute;
   top: -50px;
   right: 0px;
   width: 50px;
   height: 50px;
   background: transparent;
   border-radius: 50px;
   box-shadow: 35px 35px 0 10px white;
   pointer-events: none;
}

.navbar ul li:hover a::after {
   content: "";
   position: absolute;
   bottom: -50px;
   right: 0px;
   width: 50px;
   height: 50px;
   background: transparent;
   border-radius: 50px;
   box-shadow: 35px -35px 0 10px white;
   pointer-events: none;
}

.topbar {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.toggel {
   position: relaative;
   width: 60px;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5s;
   cursor: pointer;


}

.search {
   position: relative;
   width: 400px;
   margin: 0 10px;

}

.search label {
   position: relative;
   width: 100%;

}

.search label input {
   position: relative;
   width: 100%;
   height: 40px;
   padding-left: 35px;
   font-size: 18px;
   border-radius: 40px;
   padding: 5px 20px;
   outline: none;
   border: 1px solid black;


}

.search label ion-icon {
   position: absolute;
   top: 0;
   left: 5px;
   font-size: 1.2em;
   right: 20px;
}

.userimage {
   position: relative;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;


}

.userimage img {
   position: absolute;
   top: 0px;
   width: 100%;
   left: 0;
   height: 100%;
   object-fit: cover;
}

.card {
   position: relative;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;


}

.card .card1 {
   position: relative;
   background-color: white;
   padding: 60px;
   border-radius: 20px;
   display: flex;
   cursor: pointer;
   justify-content: space-between;
   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
}

.card .card1 .unmber {
   position: relative;
   font-weight: 500;
   font-size: 2.5em;
   color: goldenrod;

}

.card .card1 .namecard {
   color: goldenrod;
   font-size: 1.1em;
   margin-top: 5px;
}

.card .card1 .iconBox {
   color: goldenrod;
   font-size: 3.5em;
}

.card .card1:hover {
   background-color: #FFC090
}

.card .card1:hover .namecard,
.card .card1:hover .unmber,
.card .card1:hover .iconBox {
   color: white;
}