<div class="main">
    <div class="navbar">
        <ul>
            <li>
                <a href="#">
                    <span class="icon" toggle="test">
                        <i name="logo-apple">
                        </i>
                    </span><span class="titel">brand Name</span></a>
            </li>
            <li><a routerLink="card"><span class="icon">
                        <i name="home-outline"></i>
                    </span><span class="titel">Dash Board</span></a></li>
            <li><a routerLink="list"><span class="icon">
                        <i name="people-outline"></i>
                    </span><span class="titel">All Booke </span></a></li>
            <li><a routerLink="allartical"><span class="icon">
                        <i name="chatbubble-ellipses-outline"></i>
                    </span><span class="titel">All Artical</span></a></li>
            <li><a routerLink="addartical"><span class="icon">
                        <i name="information-circle-outline"></i>
                    </span><span class="titel">Add new Articale</span></a></li>
            <li><a routerLink="addBooke"><span class="icon">
                        <i name="information-circle-outline"></i>
                    </span><span class="titel">Add new booke</span></a></li>
            <li>
                <a routerLink="Allcategorey"><span class="icon">
                        <i name="settings-outline"></i>
                    </span><span class="titel">All Category</span>
                </a>
            </li>
            <li>
                <a routerLink="Editaccount"><span class="icon">
                        <i name="settings-outline"></i>
                    </span><span class="titel">Setting</span>
                </a>
            </li>
            <li>
                <a (click)="logout()">
                    <span class="icon">
                        <i name="log-out-outline"></i>
                    </span>
                    <span class="titel">sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>