<div class="main">
    <div class="navbar">
        <ul>
            <li>
                <a>
                    <span class="icon" toggle="test">
                        <i class="fa fa-book-open"></i>
                    </span>
                    <span class="titel" style="font-size: 25px; color:#251101">E-Kitabi</span>
                </a>
            </li>
            <li>
                <a routerLink="card" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-house-user"></i>
                    </span>
                    <span class="titel">Dashboard</span>
                </a>
            </li>


            <li>
                <a routerLink="list" routerLinkActive="active"> <span class="icon">
                        <i class="fa-solid fa-book"></i>
                    </span>
                    <span class="titel">All Book</span>
                </a>
            </li>


            <li>
                <a routerLink="allartical" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-regular fa-newspaper"></i>
                    </span>
                    <span class="titel">All Artical</span>
                </a>
            </li>
            <li>
                <a routerLink="TestCese" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-regular fa-newspaper"></i>
                    </span>
                    <span class="titel"> TestCese</span>
                </a>
            </li>
            <li>
                <a routerLink="Allcategorey" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-grip"></i>
                    </span>
                    <span class="titel">All Category</span>
                </a>
            </li>

            <li><a routerLink="addartical" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-square-plus"></i>
                    </span>
                    <span class="titel">Add new Articale</span>
                </a>
            </li>


            <li>
                <a routerLink="addBooke" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-square-plus"></i>
                    </span><span class="titel">Add new booke</span>
                </a>
            </li>


            <li>
                <a routerLink="Addcategorey" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-square-plus"></i>
                    </span>
                    <span class="titel">Add new Category</span>
                </a>
            </li>
            <li>
                <a routerLink="addnewadmin" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span><span class="titel">Edit your Account</span>
                </a>
            </li>
            <li>
                <a (click)="logout()" routerLinkActive="active">
                    <span class="icon">
                        <i class="fa fa-right-from-bracket"></i>
                    </span>
                    <span class="titel">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>