.resentOrder,
.recentcustoumer
{
    position: relative;
    /* min-height: 10px; */
    display: grid;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.08);
    border-radius: 20px;
}
.cardHeadr{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.cardHeadr h2{
    font-weight:600;
    color: #FFC090;
}
.btn{
    position: relative;
    padding:5px 10px ;
    background: #FFC090;
    text-decoration: none;
    border-radius: 6px;
}
.resentOrder table thead td{
 
font-weight: 600;
}
.resentOrder table tbody tr {
 
color: #FFC090  ;
border-bottom: 1px solid rgba(0,0,0,0.1); 
 }
 .dis p{
    white-space: nowrap; 
    width: 30ch !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
 }
 .resentOrder table tbody tr:hover {
    background: #FFC090;
    color: aliceblue;
 }
 .status.delivered{
  padding: 2px 4px;
  background: greenyellow;
  color:aliceblue ;
  font-size: 14px;
  font-weight: 500; 
 }
 .status.pending{
    padding: 2px 4px;
    background:yellow;
    color:aliceblue ;
    font-size: 14px;
    font-weight: 500; 
   }
   .status.return{
    padding: 2px 4px;
    background:red;
    color:aliceblue ;
    font-size: 14px;
    font-weight: 500; 
   }
   .status.inprogress{
    padding: 2px 4px;
    background:dodgerblue;
    color:aliceblue ;
    font-size: 14px;
    font-weight: 500; 
   }