<div class="text">
<div class="container">
    
    <h1> About Us</h1>
    <img src="../../../assets/1.png" width="500" alt="">
    <p><span>EKitabi</span>.works to connect readers with All Kinds Of Educational, Motivation, And Career Books To Keep You Going In Any Areas
        
        we believe local bookstores are essential community hubs that foster culture, curiosity, and a love of reading.</p>
        <!-- <h6>if you have any questions or feedback, don't hesitate to contact our editor</h6> -->
        <!-- <button routerLink="/user/contactus" class="btn btn-primary mt-3">Contact Us</button> -->
    </div>
</div>