.resentOrder,
.recentcustoumer
{
    position: relative;
    /* min-height: 10px; */
    display: grid;
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0,0.08);
    border-radius: 20px;
    margin-top: 80px;
    margin-right: 50px;
}
.cardHeadr{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 10px;
    border-left: 3px solid #119DA4;
    padding-left: 30px;
}
.cardHeadr h2{
    font-weight:600;
   color: #251101;
}
.btn{
    position: relative;
    padding:5px 10px ;
    /* background: #FFC090; */
    text-decoration: none;
    border-radius: 6px;
}
.resentOrder table thead td{
    font-weight: 600;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px; 
}
.resentOrder table tbody tr {
color: #0077b6  ;
padding: 10px;
border-bottom: 1px solid #0077b6; 
transition: all 0.2s ease-in-out;
 
}
 .delete:hover{
    box-shadow: 0.5px 0.5px  5px #ff0e0e;
 }
 .upadte:hover{
    box-shadow: 0.5px 0.5px 5px #009dff;

 }
 .dis p{
    white-space: nowrap; 
    width: 30ch !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
 }
 .resentOrder table tbody tr:hover {
    background: #119da476;
    color: #070707;
    transition: all 0.5s ease-in-out;
    
}
.resentOrder table tbody td {
    padding: 10px;
    padding-top: 10px;


 }
.resentOrder table tbody td:hover {
    
    padding: 10px;

 }

 
.new{
    border-left: 3px solid #119DA4;
    margin-top: 20px;
    padding-left: 20px;
    transition: all 1s ease-in-out;
    margin-bottom: 30px;

}
.new:hover
{
transition: all 1s ease-in-out;
color: #119DA4;
letter-spacing: 2px;
}
.new span{
    color: #FFC800;
}   