

<app-header></app-header>
<!-- <app-banner></app-banner> -->
<app-newbooks></app-newbooks>
<!-- <app-banner></app-banner> -->
<app-somebook></app-somebook>
<!-- <app-banner></app-banner> -->
<app-why-us></app-why-us>
<ng-adsense></ng-adsense>
<!-- <app-banner></app-banner> -->
<!-- Start Our Blog -->
<div class="blog">
    <div class="container">

        <!-- Des About Section -->
        <div class="des">
            <h2>Last <span>Articles</span></h2>
            <p>Recently Uploaded Articles</p>
        </div>


        <!-- Start Cards -->
        <div class="card_blog">

            <div class="row">
                <div class="col-lg-4 col-sm-6 " style="cursor:pointer;"  *ngFor="let art of artData">
                    <div class="card" [routerLink]="['/articles/list',art._id]">
                        <div class="card-body">
                            <img [src]="art.cover[0]" class="card-img-top mb-3" alt="..." width="100%" height="250px">
                            <h5 class="card-title">{{art.title}}</h5>
                            <p class="card-text">{{art.text}}</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>

