

<app-header></app-header>
<app-newbooks></app-newbooks>
<app-somebook></app-somebook>

<!-- Start Our Blog -->
<div class="blog">
    <div class="container">

        <!-- Des About Section -->
        <div class="des">
            <h2>Last <span>Categories</span></h2>
            <p>Recently Uploaded Categories</p>
        </div>


        <!-- Start Cards -->
        <div class="card_blog">

            <div class="row">
                <div class="col-lg-4 col-sm-6 " *ngFor="let art of artData">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{art.title}}</h5>
                            <p class="card-text">{{art.text}}</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>
