

<app-header></app-header>
<app-newbooks></app-newbooks>
<app-somebook></app-somebook>

<!-- Start Our Blog -->
<div class="blog">
    <div class="container">

        <!-- Des About Section -->
        <div class="des">
            <h2>Our <span>Blogs</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority<br> have
                suffered
                lebmid alteration in some ledmid form</p>
        </div>


        <!-- Start Cards -->
        <div class="card_blog">

            <div class="row">
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">Find all the information you need to ensure your experience.Find all
                                the information you need to ensure your experience . Find all the information you of.
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">Find all the information you need to ensure your experience.Find all
                                the information you need to ensure your experience . Find all the information you of.
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">Find all the information you need to ensure your experience.Find all
                                the information you need to ensure your experience . Find all the information you of.
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
