/* Start Our Blog */
.blog {
    padding-top: 50px;
    background-color: #eee;
}
.blog .des {
    text-align: center;
    margin-bottom: 30px;
}

.blog .des h2 span {
    color: #ce7852;
}
.blog .des p {
    color:#777;
    padding-bottom: 10px;
}
.card_blog .card {
    margin-bottom: 30px;
    box-shadow: 0 5px 15px #5555551a;
    border: none;
    border-radius: 7% 93% 7% 93% / 95% 3% 97% 5% ;
}
.card_blog .card .card-body{
    padding: 40px;
}
.card_blog .card .card-body h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    
}
.card_blog .card .card-body p {
    color: #555;
}