<div class="app">
    <!-- Left Contant -->
    <div class="leftContent"></div>

    <!-- right Content -->
    <div class="rightContent">

        <!-- Sign Up -->



        <form [formGroup]="loginForm" (ngSubmit)="add()">
            <h2>Sign In</h2>
            <input type="email" id="lnameTwo" name="uemail" placeholder="Email addess.."
                formControlName="email"><br><br>
            <input type="password" id="lPasTwo" name="lname" placeholder="password" formControlName="password">
            <br><br>
            <button type="submit">Sign In</button>
        </form>

    </div>



</div>