<!-- Start Header -->
<section class="bodylist">
    <div class="container">
        <div class="all">

            <div class="leftcontent">
                <div class="content">
                    <h3>Books Categories</h3>
                    <ul class="one" *ngFor="let item of catogry">
                       <a [routerLink]="['/user/list',item.title]"> <li>{{item.title}} <span>{{item.length}}</span></li></a>
                        
                    </ul>

                  
                </div>
            </div>

            <div class="rightcontent">

                <div class="head">

                    <div class="leftSort">
                        <select name="sort" id="">
                            <option value="0">All...</option>
                            <option value="2">Sort By Name</option>
                        </select>
                    </div>

                    <div class="centertext">
                        <form  [formGroup]="formsearch">
                        <input type="text" formControlName="search" id="searccInput"  placeholder="Search by book name">
                    </form>
                        <span class="search" id="searchButton"><i class="fa fa-search" aria-hidden="true" title="Search">

                        </i></span>
                    </div>
                </div>


                <div class="appcontentbody">

                    <div class="childcontentbody" *ngFor="let item of listBooke ">
                        <div class="leftimg">
                            <img src="{{item.cover}}" alt="">
                        </div>

                        <div class="righttext">
                            <h2>{{item.title}}</h2>
                            <p class="authors">{{item.description}}</p>
                            <ul class="star">
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            </ul>
                            <h4>published Date:<span>{{item.createdAt| date:'yyyy-LLL'}}</span></h4>
                            <h5>Page Count:<span>430</span></h5>
                            <a >
                                <button title="Details To Book" [routerLink]="['/user/download',item._id]" >Details</button>
                            </a>
                            <ul class="twoicon">
                                <i class="fa fa-heart" aria-hidden="true" title="Like"></i>
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </ul>
                            
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>
