
        <!-- <app-sidbar></app-sidbar> -->
   

        
<div class="resentOrder">
    <div class="cardHeadr">
        <h2> All Articale</h2>
        <td><button class="btn btn-primary">Add New Articale</button></td>

    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>Delete</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>

                <td><button class="btn btn-outline-danger delete">Delete</button></td>
                <td><button class="btn btn-outline-primary upadte">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>