<div class="topbar">
    <div class="toggel">
        <i name="menu-outline"></i>
    </div>
    <!--search-->
    <div class="search">
        <label>
            <input type="text" placeholder="search here">
            <i name="search-outline"></i>
        </label>
    </div>
    <div class="userimage">
        <img src="./image/images.jpg" alt="">
    </div>
</div>
<div class="card ">
    <div class="card1">
        <div>
            <div class="unmber">1,900</div>
            <div class="namecard">views</div>
            <div class="iconBox">
                <i name="eye-outline"></i>
            </div>
        </div>
    </div>
    <div class="card1">
        <div>
            <div class="unmber">80.00</div>
            <div class="namecard">sales</div>
            <div class="iconBox">
                <i name="cart-outline"></i>
            </div>
        </div>
    </div>
    <div class="card1">
        <div>
            <div class="unmber">1,900</div>
            <div class="namecard">communet</div>
            <div class="iconBox">
                <i name="chatbubble-ellipses-outline"></i>
            </div>
        </div>
    </div>
    <div class="card1">
        <div>
            <div class="unmber">$5000</div>
            <div class="namecard">Earnaing</div>
            <div class="iconBox">
                <i name="eye-outline"></i>
            </div>
        </div>
    </div>
</div>

<div class="resentOrder">
    <div class="cardHeadr">
        <h2>Recent Booke</h2>
        <a href="#" class="btn">view all</a>
    </div>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>file</td>
                <td>Image</td>
                <td>status</td>
                <td>Delet</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
                <td>paid</td>
                <td><img src=".." alt=""></td>
                <td><span class="status delivered">Delivared</span></td>
                <td><button class="btn btn-danger">Delet</button></td>
                <td><button class="btn btn-primary">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="resentOrder">
    <div class="cardHeadr">
        <h2>Recent Artical </h2>
        <a href="#" class="btn">view all</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>file</td>
                <td>Image</td>
                <td>status</td>
                <td>Delet</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
                <td>paid</td>
                <td><img src=".." alt=""></td>
                <td><span class="status delivered">Delivared</span></td>
                <td><button class="btn btn-danger">Delet</button></td>
                <td><button class="btn btn-primary">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>