<div class="topbar">
    <div class="toggel">
        <i name="menu-outline"></i>
    </div>
    <!--search-->
    <div class="search">
        <label>
            <input type="search" placeholder="search here">
            <i name="search-outline"></i>
        </label>
    </div>
    <div class="userimage">
        <img src="./image/images.jpg" alt="">
    </div>
</div>
<div class="card ">
    <div class="card1">
        <div>
            <div class="unmber">1,900</div>
            <div class="namecard">views</div>
            <div class="iconBox">
                <i name="eye-outline"></i>
            </div>
        </div>
    </div>
    <div class="card1">
        <div>
            <div class="unmber">800</div>
            <div class="namecard">Article</div>
            <div class="iconBox">
                <i name="cart-outline"></i>
            </div>
        </div>
    </div>
    <div class="card1">
        <div>
            <div class="unmber">1,900</div>
            <div class="namecard">Books</div>
            <div class="iconBox">
                <i name="chatbubble-ellipses-outline"></i>
            </div>
        </div>
    </div>
 
</div>

<div class="resentOrder">
    <div class="cardHeadr">
        <h2 class="headlinerecent">Recent Booke</h2>
        <a (click)="GoToBook()" class="btn btn-primary">view all</a>
    </div>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>Delete</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
                <td><button class="btn btn-outline-danger delete">Delete</button></td>
                <td><button class="btn btn-outline-primary upadte">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="resentOrder">
    <div class="cardHeadr">
        <h2 class="headlinerecent">Recent Artical </h2>
        <a (click)="GoToArtical()" class="btn btn-primary">view all</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>Delete</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
                <td><button class="btn btn-outline-danger delete">Delete</button></td>
                <td><button class="btn btn-outline-primary upadte">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>