.left_button {
    background-color: #ce7852;
    border-radius: 50%;
    padding: 20px;
}

.content-text {
    z-index: 1111;
    top: 50%; 
    left: 50%;
    transform: translate(-120%, -50%);
}

.content-text h2 {
    color: #3c3c3c;
    font-size: 50px;
    font-family: poppins;
    font-weight: 700;
    line-height: 1.2;


}

.content-text h2 span {
    color: #ce7852;
}

.content-text h6 {
    margin-top: 50px;
    margin-top: 50px;
    font-size: 17px;
    color: #888;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;
    display: inline-block;
}
.content-text h6:hover a{
    color: #ce7852;
}
.content-text h6:hover i {
    color: #ce7852;
    padding-left: 15px;

}

.content-text h6 i {
    margin-left: 10px;
    transition: all .5s;

}

.read-now{
    text-decoration: none;
    color: #3c3c3c;
}

/* Media  */
@media (max-width: 575px) {


    .content-text {
        transform: translate(-100%, -50%);
        padding-right:30px;

    }
    .content-text h2 ,.content-text span {
       font-size: 22px;
    }
    .content-text h6 {
        margin-top: 0;
        font-size: 18px;
    }
   
    
}

@media (min-width: 576px) and (max-width:992px) { 


    .content-text {
        transform: translate(-110%, -50%);

    }
    .content-text h2 {
        font-size: 30px;
    }
    .content-text h6 {
        margin-top: 0;
    }


}


 @media (max-width: 420px) { 

    .content-text {
        transform: translate(-100%, -50%);
        padding-right:15px;

    }
    .content-text h2 ,.content-text span {
       font-size: 18px;
    }
    .content-text h6 {
        margin-top: 0;
        font-size: 16px;
    }
    .left_button {
        background-color: #ce7852;
        border-radius: 50%;
        padding: 10px;
    }
 }
/*
 @media (min-width: 992px) { 


  } */