<!-- <app-sidbar></app-sidbar> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        <!-- <app-sidbar></app-sidbar> -->
   

        
<div class="resentOrder">
  <div class="cardHeadr">
      <h2> All Category</h2>
      <td><button class="btn btn-primary">Add new Category</button></td>
  </div>
  <table>
      <thead>
          <tr>
              <td>Name</td>
              <td>Discration</td>
              <td>Image</td>
              <td>status</td>
              <td>Delet</td>
              <td>Upadte</td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
              <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
              <td><img src=".." alt=""></td>
              <!-- <td>paid</td> -->
              <td><button class="btn btn-danger">Delet</button></td>
              <td><button class="btn btn-primary">Update</button></td>
          </tr>
      </tbody>
  </table>
</div>