<!-- Image Under Nav -->
<div class="images-nav">
    <div class="header">

        <h1>NEWS</h1>
    </div>
</div>
<app-banner></app-banner>
<!-- Start Main  -->
<main>
    <div class="container">
        <section class="left-sec">
            <h5 *ngIf="!catogeryName.length" class="text-center">Not Find The Article with this Name</h5>
            <div class="post d-flex" *ngFor="let one of catogeryName">
                
             
                    <div class="col-lg-4" routerLink="/articles/list/{{one._id}}">
                        <div class="box_image">
                            <img src="{{one.cover[0]}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 ">
                        <div class="content-post">
                            <h1>
                                <a routerLink="/articles/list/{{one._id}}" class="edTitle">{{one.title}}</a>
                            </h1>
                            <div class="post-defin"><span>POSTS Date: <span>{{one.updatedAt | date}}</span></span></div>
                            <p title="{{one.text}}" class="testText">{{one.description}}...</p>
                            <h5><a routerLink="/articles/list/{{one._id}}">Read More <i class=" fa fa-arrow-right"></i></a></h5>
                        </div>
                    </div>
                
            </div>
            
        </section>
        <section class="right-sec">
            <h3>SEARCH</h3>
            <hr>
            <form class="search-btn" [formGroup]="formSearch" (ngSubmit)="search()">
                <input type="text" placeholder="Search By Article Name..." formControlName="title">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <h3>RECENT POST</h3>
            <hr>
            <div class="recent-post">
                <div class="post" *ngFor="let art of articles">
                    <img [src]="art.cover[0]"  alt="">
                    <div class="content-post">
                        <h4>
                            <a  routerLink="/articles/list/{{art._id}}">
                                <p
                                style="white-space:nowrap ; width: 15ch;
                                    text-overflow: ellipsis; overflow: hidden;"
                                >
                                    {{art.title}}
                                </p>
                        </a>
                        </h4>
                        <p>{{art.updatedAt | date}}</p>
                    </div>

                    <!-- <h3>ARCHIVE</h3> -->
                    <hr>
                    <div class="archive" *ngFor="let outerLinks of art.links">
                        <p style="border-bottom:1px solid #EEE;padding-bottom:10px">
                            <a href="{{outerLinks.link}}">{{outerLinks.text}}</a>
                        </p>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main>
<!-- End Main -->