/* Start Image Nav */
.edTitle {
  text-transform: capitalize;
  border-left: 3px solid #EEE;
  padding-left: 5px;
}
a{
    text-decoration: none !important;
}

.container{
    margin: 0 auto;
}
.images-nav {
    background-image: url(../../../assets/Articals/NewsNav.jpg) ;
    background-size: cover;
    background-attachment: fixed;
  
    height: 60vh;
    display: block;
    color: #fff;
    margin-bottom: 70px;
  }
  .images-nav .header {
    top: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
    width: 100% !important;
  }
  .images-nav h1 {
    color: #fff;
    position: relative;
    top: 40%;
    text-align: center;
  }
  .images-nav h1::first-letter{
    color: #ce7852;
  }
  /* Start Main  */
  main .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    margin-top: 10px;
  }
  main .container .right-sec {
    width: 90%;
  }
  main .container .right-sec h3 {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    font-size: 1rem;
  }
  main .container .right-sec hr {
    background-color: #000;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
  }
  main .container .right-sec .search-btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #b93f0b;
    border-radius: 10px;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 20px;
  }
  main .container .right-sec .search-btn button {
    background: none;
    border: none;
    padding-right: 10px;
  }
  main .container .right-sec .search-btn button:hover {
    cursor: pointer;
  }
  main .container .right-sec .search-btn input {
    border: none;
    padding: 5px 0;
    padding-left: 10px;
  }
  main .container .right-sec .search-btn input:focus {
    outline: none;
   
    padding: 5px 0;
    padding-left: 10px;
  }
  /* recent-post */
  main .container .right-sec .recent-post .post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  main .container .right-sec .recent-post .post img {
    width: 100px;
    height: auto;
  }
  main .container .right-sec .recent-post .post .content-post {
    margin-left: 11px;
  }
  main .container .right-sec .recent-post .post .content-post h4 {
    margin-bottom: 8px;
    font-size: 15px;
  }
  main .container .right-sec .recent-post .post .content-post h4 a {
    color: #000;
    transition: all 0.3s;
  }
  main .container .right-sec .recent-post .post .content-post h4:hover a {
    color: #b93f0b;
    transition: all 0.3s;
  }
  main .container .right-sec .archive h4 {
    margin-bottom: 5px;
  }
  main .container .right-sec .archive p {
    margin-bottom: 10px;
    line-height: 25px;
  }
  main .container .right-sec .archive p a {
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
  }
  main .container .right-sec .archive p:hover a {
    color: #b93f0b;
    transition: all 0.3s;
  }
  /* Left Posts */
  main .container .left-sec .post {
    /* display: flex; */
    gap: 20px;
  }
  main .container .left-sec .post:not(:last-child) {
    margin-bottom: 20px;
  }
  main .container .left-sec .post .box_image {
    width: 215px;
    height: 300px;
    margin: auto;
  }
  main .container .left-sec .post .box_image img {
    height: 100%;
    width: 100%;
    border: 2px solid #b93f0b;

  }
  main .container .left-sec .post .content-post h1 a {
    color: #000;
    font-size: 25px;
    transition: all 0.3s;
  }
  main .container .left-sec .post .content-post h1 a:hover {
    color: #b93f0b;
    transition: all 0.3s;
  }
  main .container .left-sec .post .content-post .post-defin{
      font-weight: bold;
      font-size: 13px;
      margin: 10px 0;
     color: rgba(0, 0, 0, 0.8);
  
  }
  main .container .left-sec .post .content-post p{
     color: rgba(0, 0, 0, 0.7);
     line-height: 25px;
     margin-bottom: 10px;
 
     height: 150px;
     white-space: wrap;
     overflow: hidden;
     text-overflow: ellipsis;
     
  }
  main .container .left-sec .post .content-post h5 a {
    color: #000;
    font-size: 17px;
    transition: all 0.3s;
  }
  
  main .container .left-sec .post .content-post h5 a:hover {
    color: #b93f0b;
    /* font-size: 0.9rem; */
    transition: all 0.3s;
  }
  
  
/* Responsive */
@media (max-width:1199px) {
  main .container .right-sec .search-btn button {
  
    padding-right: 35px;
  }
}
@media (max-width:992px) {
   
    .images-nav{
        height: 40vh;
        background-size: contain;
       margin-bottom: 30px;

    }
    .images-nav .header{
        height: 40vh;
    }
    .images-nav .header h1{
        font-size: 22px;
    }
    main .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main .container .right-sec{
        width: 100%;
    }
    main .container .right-sec .recent-post .post{
        justify-content: flex-start;
    }
    main .container .left-sec .post{
        flex-direction: column;
    }
    main .container .left-sec .post img{
        width: 100%;
    }
}
@media (max-width:365px) {
    
    .images-nav{
        height: 30vh;
        background-size: contain;
       margin-bottom: 30px;

    }
    .images-nav .header{
        height: 30vh;
    }
    .images-nav .header h1{
        font-size: 17px;
    }
    main .container .right-sec h3{
        font-size: 13px;
    }
    main .container .right-sec .recent-post .post h4{
        font-size: 15px;
    }
    main .container .right-sec .recent-post .post p{
        font-size: 13px;

    }
    main .container .left-sec .post .content-post h1 {
        font-size: 18px;
    }
    main .container .left-sec .post .content-post .post-defin{
        font-size: 12px;
    }
    main .container .left-sec .post .content-post p{
        font-size: 12px;

    }
    main .container .left-sec .post .content-post h5{
        font-size: 12px;
    }
    main .container .right-sec .archive h4{
        font-size: 15px;
    }
    main .container .right-sec .archive p{
        font-size: 12px;
    }

}
