<!-- Image Under Nav -->
<div class="images-nav">
    <div class="header">

        <h1>NEWS</h1>
    </div>
</div>
<!-- Start Main  -->
<main>
    <div class="container">
        <section class="left-sec">
            <div class="post">
                <img src="../../../assets/Articals/section-book(1).jpeg" alt="">
                <div class="content-post">
                    <h1>
                        <a href="#">Signficant reading has a more info number</a>
                    </h1>
                    <div class="post-defin"><span>POSTS BY: <span> BOIGHOR-DEMO ADMIN</span></span>
                        /<span>June 11 2022</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum similique illum blanditiis
                        possimus enim minima quidem, fuga delectus corrupti laborum modi quam quasi ab asperiores
                        voluptatibus nemo minus exercitationem consectetur...</p>
                    <h5><a href="">Read More <i class=" fa fa-arrow-right"></i></a></h5>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/Articals/section-book(2).jpg" alt="">
                <div class="content-post">
                    <h1>
                        <a href="#">Activities of the Frankfurt Book International</a>
                    </h1>
                    <div class="post-defin"><span>POSTS BY: <span> BOIGHOR-DEMO ADMIN</span></span>
                        /<span>June 11 2022</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum similique illum blanditiis
                        possimus enim minima quidem, fuga delectus corrupti laborum modi quam quasi ab asperiores
                        voluptatibus nemo minus exercitationem consectetur...
                    </p>
                    <h5><a href="">Read More <i class=" fa fa-arrow-right"></i></a></h5>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/Articals/section-book(3).webp" alt="">
                <div class="content-post">
                    <h1>
                        <a href="#">The London Book Fair is to be packed with exciting</a>
                    </h1>
                    <div class="post-defin"><span>POSTS BY: <span> BOIGHOR-DEMO ADMIN</span></span>
                        /<span>June 11 2022</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum similique illum blanditiis
                        possimus enim minima quidem, fuga delectus corrupti laborum modi quam quasi ab asperiores
                        voluptatibus nemo minus exercitationem consectetur...
                    </p>
                    <h5><a href="">Read More <i class=" fa fa-arrow-right"></i></a></h5>
                </div>
            </div>

            <div class="post">
                <img src="../../../assets/Articals/section-book(4).jpg" alt="">
                <div class="content-post">
                    <h1>
                        <a href="#">Reading has a signficant info number of benefits</a>
                    </h1>
                    <div class="post-defin"><span>POSTS BY: <span> BOIGHOR-DEMO ADMIN</span></span>
                        /<span>June 11 2022</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum similique illum blanditiis
                        possimus
                        enim minima quidem, fuga delectus corrupti laborum modi quam quasi ab asperiores
                        voluptatibus nemo
                        minus exercitationem consectetur...
                    </p>
                    <h5><a href="">Read More <i class=" fa fa-arrow-right"></i></a></h5>
                </div>
            </div>
        </section>
        <section class="right-sec">
            <h3>SEARCH</h3>
            <hr>
            <form class="search-btn">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"> </i></button>
            </form>
            <h3>RECENT POST</h3>
            <hr>
            <div class="recent-post">
                <div class="post">
                    <img src="../../../assets/Articals/section-book(1).jpeg" alt="">
                    <div class="content-post">
                        <h4>
                            <a href="#">Significant reading has...</a>
                        </h4>
                        <p>June 11 2022</p>
                    </div>
                </div>
                <div class="post">
                    <img src="../../../assets/Articals/section-book(2).jpg" alt="">
                    <div class="content-post">
                        <h4>
                            <a href="#">Activities of the Fran...</a>
                        </h4>
                        <p>June 11 2022</p>
                    </div>
                </div>
                <div class="post">
                    <img src="../../../assets/Articals/section-book(3).webp" alt="">
                    <div class="content-post">
                        <h4>
                            <a href="#">The London Book Fair i...</a>
                        </h4>
                        <p>June 11 2022</p>
                    </div>
                </div>
                <div class="post">
                    <img src="../../../assets/Articals/section-book(4).jpg" alt="">
                    <div class="content-post">
                        <h4>
                            <a href="#">Reading has a signfica...</a>
                        </h4>
                        <p>June 11 2022</p>
                    </div>
                </div>

            </div>
            <h3>ARCHIVE</h3>
            <hr>
            <div class="archive">
                <h4>June 2022</h4>
                <p>
                    <a href="">Signficant reading has a more info number</a>
                </p>
                <p>
                    <a href="">Activities of the Frankfurt Book International</a>
                </p>
                <p>
                    <a href="">The London Book Fair is to be packed with exciting</a>
                </p>
                <p>
                    <a href="">Reading has a signficant info number of benefits</a>
                </p>
            </div>
        </section>

    </div>
</main>
<!-- End Main -->