
<div class="container">
    <h1 class="new" ><span> A</span>dd <span>N</span>ew <span>A</span>dmin:</h1>
  <div class="mt-5 w-50 ">
      <label for="exampleFormControlInput1" class="form-label">Name:</label>
      <input type="email" class="form-control mb-2 " id="exampleFormControlInput1" placeholder="Please Enter Admin Name">
    </div>
        <!-- Email input -->
        <div class="form-outline mb-4 w-50">
            <label class="form-label" for="loginName" >Email</label>
            <input type="email" id="loginName" class="form-control"placeholder="Please Enter Email" />
          </div>
    
          <!-- Password input -->
          <div class="form-outline mb-4 w-50">
              <label class="form-label" for="loginPassword" >Password</label>
            <input type="password" id="loginPassword" class="form-control" placeholder="Please Enter Password" />
          </div>
    
    <button type="submit" class="btn btn-primary butt">Add</button>
  </div>