 <!-- ------Start gatigories----- -->
 <div class="container">
        
    <div class="parent">
        <div class="child">
            <a routerLink="/user/list">
                <div class="box">
                    <img src="../../../assets/cat-books/medicine3.jpg" alt="">
                    <div class="box_title">
                        <h5>Medicine</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/scince.jpg" alt="">
                    <div class="box_title">
                        <h5>sciences</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/Your-Health-and-Beauty.jpg" alt="">
                    <div class="box_title">
                        <h5>Health and Beauty</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/eng.jpg" alt="">
                    <div class="box_title">
                        <h5>Engineering</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/story.jpg" alt="">
                    <div class="box_title">
                        <h5>Stories and Novels</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/pharmacy2-300x185.jpg" alt="">
                    <div class="box_title">
                        <h5>Pharmacy</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/electronic2.jpg" alt="">
                    <div class="box_title">
                        <h5>Electronics</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/animals2.png" alt="">
                    <div class="box_title">
                        <h5>Animals</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="child">
            <a href="#">
                <div class="box">
                    <img src="../../../assets/cat-books/history.jpg" alt="">
                    <div class="box_title">
                        <h5>History</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- -----End Catigoury---- -->