
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form>
        <div class="text-center mb-3">
          <p>Enter Your Email:</p>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="loginName" class="form-control" />
          <label class="form-label" for="loginName">Enter the Mial to verify ownership:</label>
        </div>
  
        <!-- Password input
        <div class="form-outline mb-4">
          <input type="password" id="loginPassword" class="form-control" />
          <label class="form-label" for="loginPassword">Password</label>
        </div>
   -->
        <!-- 2 column grid layout -->
        
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Verfiy</button>
        <!-- Register buttons -->
        <!-- <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
        </div> -->
      </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form>
        <!-- <div class="text-center mb-3">
          <p>Sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-github"></i>
          </button>
        </div> -->
  
        <p class="text-center">or:</p>
  
        <!-- Name input -->
        <!-- <div class="form-outline mb-4">
          <input type="text" id="registerName" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>
   -->
        <!-- Username input -->
        <!-- <div class="form-outline mb-4">
          <input type="text" id="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
   -->
        <!-- Email input -->
        <!-- <div class="form-outline mb-4">
          <input type="email" id="registerEmail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
   -->
        <!-- Password input -->
        <!-- <div class="form-outline mb-4">
          <input type="password" id="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div> -->

  
        <!-- Checkbox -->
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Verfay</button>
      </form>
    </div>
  </div>
  <!-- Pills content -->
  