<div class="resentOrder">
  <div class="cardHeadr">
    <h2>All Bookes</h2>

    <td>
      <div class="input-group">
        <div class="form-outline">
          <form [formGroup]="formsearch" > 
          <input type="search" id="form1" formControlName="search"   class="form-control" />
        </form>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </td>
    <td>
      <button class="btn btn-primary" routerLink="/dashboard/addBooke">Add New Book</button>
    </td>

  </div>
  <table >
    <thead>
      <tr>
        <td>Name</td>
        <td>Descration</td>
        <td>Image</td>
        <td>Category Name</td>
        <td>Delete</td>
        <td>Upadte</td>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let book of arrBook  index as i">
        <td class="dis">
          <p>{{book.title}}</p>
        </td>
        <td class="dis">
          <p>{{book.description}}</p>
        </td>
        <td class="dis"><img [src]="book.cover" style="width: 100px; height: 100px; " /></td>
        <td>{{book.categoryName}}</td>
        <td><button class="btn btn-outline-danger delete" (click)="deletBook(book._id)">Delete</button></td>
        <td><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#T'+book._id"
          >
            Upadte
          </button></td>
        <!-- Modal -->
        <div class="modal fade" [id]="'T'+book._id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ubdate Book ({{book.title}})</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addBook" (ngSubmit)="updateBook(book._id)" enctype="multipart/form-data">
                  <div class="container d-flex justify-content-center flex-column align-items-center">
                    <div class="w-75">
                      <label for="exampleFormControlInput1" class="form-label">Booke name:</label>
                      <input type="text" class="form-control" formControlName="title" value={{book.title}} >
                      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('title')?.touched && addBook.get('title')?.errors">
                        <small *ngIf="addBook.get('title')?.errors['required']">Please Enter Abook Name</small>
                      </div>
                    </div>
                
                
                    <div class="mt-3 w-75">
                      <label for="exampleFormControlInput1" class="form-label">Key Word Book:</label>
                      <input type="text" class="form-control" formControlName="keywords" placeholder="Please Add Key Words of Book">
                      <div class="mt-2 p-1 alert alert-danger"
                        *ngIf="addBook.get('keywords')?.touched && addBook.get('keywords')?.errors">
                        <small *ngIf="addBook.get('keywords')?.errors['required']">The Input Is Required</small>
                      </div>
                    </div>
                
                
                    <div class="mt-3 w-75">
                      <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"
                        placeholder="Please Add Some Description About Book .... " rows="3"></textarea>
                      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('description')?.touched && addBook.get('description')?.errors">
                        <small *ngIf="addBook.get('description')?.errors['required']">The Input Is Required</small>
                      </div>
                    </div>
                
                
                    <div class="contImg w-75" style="margin-top:20px">
                      <!-- //image  -->
                
                      <input id="input-2" (change)="readURL($event)" name="bookImage" id="fileimages" formControlName="bookImage"
                        type="file" class="file " data-show-upload="false" data-show-caption="true" multiple>
                      <div class="mt-2 p-1 alert alert-danger"
                        *ngIf="addBook.get('bookImage')?.touched && addBook.get('bookImage')?.errors">
                        <small *ngIf="addBook.get('bookImage')?.errors['required']">Please Select Cover Image In Book</small>
                      </div>
                      <div class="show-images">
                        <img *ngFor="let item of imagearr" id="blah" [src]="item || 'http://placehold.it/180'" height="150" width="150"
                          alt="your image" />
                      </div>
                
                    </div>
                    <div class="contetFile w-75" style="margin-top:20px">
                      <!-- fille -->
                      <input id="input-3" name="bookFile" id="filebook" formControlName="bookFile" type="file" class="file "
                        data-show-upload="false" data-show-caption="true" multiple (change)="fileChange($event)">
                      <div class="mt-2 p-1 alert alert-danger"
                        *ngIf="addBook.get('bookFile')?.touched && addBook.get('bookFile')?.errors">
                        <small *ngIf="addBook.get('bookFile')?.errors['required']">Please Select Pdf File</small>
                      </div>
                    </div>
                
                    <input id="input-1" name="submit" value="Add Book" [disabled]="addBook.invalid" type="submit"
                      class="submit mb-5 mt-4 btn btn-dark">
                
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>