
<div class="resentOrder">
    <div class="cardHeadr">
        <h2>All Bookes</h2>      
    </div>   
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>    
                <td>image</td>
                <td>status</td>
                <td>Delet</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo!</p></td>
                <td class="dis"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.</p></td>
                <td><img src=".." alt=""></td>
                <!-- <td>paid</td> -->
                <td><span class="status delivered">Delivared</span></td>
                <td><button class="btn btn-danger">Delete</button></td>
                <td><button class="btn btn-primary">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>
