
<div class="resentOrder">
    <div class="cardHeadr">
        <h2>Recent Orders</h2>
        <a href="#" class="btn">view all</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Discration</td>
                <td>file</td>
                <td>status</td>
                <td>Delet</td>
                <td>Upadte</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>samsong</td>
                <td>$5600</td>
                <td>paid</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>iphone </td>
                <td>$300</td>
                <td>paid</td>
                <td><span class="status pending">pending</span></td>

            </tr>
            <tr>
                <td>tads</td>
                <td>$1200</td>
                <td>paid</td>
                <td><span class="status return">return</span></td>

            </tr>
            <tr>
                <td>Apple phone </td>
                <td>$1200</td>
                <td>paid</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>;linux</td>
                <td>$30</td>
                <td>paid</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>speacker</td>
                <td>$1200</td>
                <td>paid</td>
                <td><span class="status return">return</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>
            <tr>
                <td>drfasdj</td>
                <td>$1343</td>
                <td>rest</td>
                <td><span class="status inprogress">inprogress</span></td>

            </tr>
            <tr>
                <td>hide Phone</td>
                <td>$1200</td>
                <td>paid</td>
                <td><span class="status return">return</span></td>

            </tr>
            <tr>
                <td>window </td>
                <td>$190</td>
                <td>test</td>
                <td><span class="status delivered">Delivared</span></td>

            </tr>

        </tbody>
    </table>
</div>
