.newPrudect {
    padding-top: 60px;
    background-color: #FFF;
}
.newBook_card{
    transition: all 0.5s;
    cursor: pointer;
}
.newBook_card:hover{
    transform: translateY(-5px);
}
.card-img-top{
    position: relative;
}
.newBook_card:hover .hover-img::before{
    background-color: rgba(0, 0, 0, 0.314);
    content: '';
    position: absolute;
    left: 0;
    display: block;
    z-index: 99;
    height: 100%;
    width: 100%;
  }
.newPrudect .des {
    text-align: center;
}

.newPrudect .des h2 span {
    color: #ce7852;
}
.newPrudect .des p {
    color:#777;
    padding-bottom: 10px;
}
.down {
    background-color: #ce7852;
    outline: none;
    color: #FFF;
    border: none;
    width: 100%;
}
.button-style{
    background-color: #ce7852;
    border-radius: 50%;
    padding: 20px;  
    height: 50px;
    width: 60px;
    margin-top: 170px;
}


@media (min-width:993px) {
    #newBookExampleControls{
        display: none;
    }
}
/* Media  */
@media (max-width: 575px) {
    .card {
        width:  300px;
        margin: auto;
        
    }
    .newPrudect .des p {
        font-size: 14px;
    }
    .row{
        display: none;
    }

}
@media (min-width: 576px) and (max-width:992px) { 



    .card {
        width:  300px;
        margin: auto;
        
    }
    .row{
        display: none;
    }
   
}


@media (max-width: 500px) { 

    .button-style{
     
        border-radius: 50%;
        padding: 10px;  
        height: 40px;
        width: 40px;
        margin-top: 170px;
    }
 }

 @media (min-width: 992px) { 


  }