<div class="newPrudect">
    <!-- Des Section -->
    <div class="des">
        <h2>New <span>Books</span></h2>
        <p>Recently uploaded books</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/1.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <button class="down">View Book</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/2.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                      
                        <button class="down" >View Book</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/3.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <button class="down">View Book</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/4.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <button class="down">View Book</button>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div id="newBookExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                
                    <div class="newBook_card card">
                        <span class="hover-img"></span>
                        <img src="../../../assets/home/1.webp" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <button class="down">View Book</button>
                        </div>
                    </div>
                </div>
            
              <div class="carousel-item">
                    
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/1.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <button class="down">View Book</button>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                    
                <div class="newBook_card card">
                    <span class="hover-img"></span>
                    <img src="../../../assets/home/1.webp" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <button class="down">View Book</button>
                    </div>
                </div>
           
              </div>
            </div>
            <button class="carousel-control-prev button-style" type="button" data-bs-target="#newBookExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next button-style" type="button" data-bs-target="#newBookExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon icons" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
    </div>
</div>

