<div class="newPrudect">
    <!-- Des Section -->
    <div class="des">
        <h2>New <span>Books</span></h2>
        <p>Recently uploaded books</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" routerLink="/user/categories" *ngFor="let i of bookData">
                <div class="newBook_card card">
                    <img [src]="i.cover" loading="lazy" class="card-img-top" alt="..." width="100%" height="250px">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{i?.title}}</h5>
                        <button class="down" [routerLink]="['/user/download',i._id]">View Book</button>
                    </div>
                </div>
            </div>            
        </div>
       
    </div>
</div>

