

<form [formGroup]="addBook" (ngSubmit)="addBookData()" enctype="multipart/form-data">
  
  <div class="container">
    <h1 class="new"><span> A</span>dd <span>N</span>ew <span>B</span>ook:</h1>
    <div class="w-50">
      <label for="exampleFormControlInput1" class="form-label">Booke name:</label>
      <input type="text" class="form-control" formControlName="title" placeholder="Please Add Book Name">
      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('title')?.touched && addBook.get('title')?.errors">
        <small *ngIf="addBook.get('title')?.errors['required']">Please Enter Abook Name</small>
      </div>
    </div>
    <div class="mt-5  w-50">
      <label class="w-100 form-label">Select Category Name:</label>
      <select class="select w-100" formControlName="categoryName" name="categoryName">
        <option *ngFor="let i of dataSelect" [value]="i.title">{{i.title}}</option>
      </select>
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('categoryName')?.touched && addBook.get('categoryName')?.errors">
        <small *ngIf="addBook.get('categoryName')?.errors['required']">The Input Is Required</small>
      </div>
    </div>

    <div class="mt-5 w-50">
      <label for="exampleFormControlInput1" class="form-label">Key Word Book:</label>
      <input type="text" class="form-control" formControlName="keywords" placeholder="Please Add Key Words of Book">
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('keywords')?.touched && addBook.get('keywords')?.errors">
        <small *ngIf="addBook.get('keywords')?.errors['required']">The Input Is Required</small>
      </div>
    </div>


    <div class="mt-5 w-50">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"
        placeholder="Please Add Some Description About Book .... " rows="3"></textarea>
      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('description')?.touched && addBook.get('description')?.errors">
        <small *ngIf="addBook.get('description')?.errors['required']">The Input Is Required</small>
      </div>
    </div>


    <div class="contImg w-50" style="margin-top:20px">
      <!-- //image  -->

      <input id="input-2" #attachment (change)="readURL($event)" name="bookImage" id="fileimages" formControlName="bookImage"
        type="file" accept="image/*" class="file " data-show-upload="false" data-show-caption="true" >
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('bookImage')?.touched && addBook.get('bookImage')?.errors">
        <small *ngIf="addBook.get('bookImage')?.errors['required']">Please Select Cover Image In Book</small>
      </div>
      <div class="show-images" *ngFor="let item of imagearr let index= index">
        <img  id="blah" [src]="item || 'http://placehold.it/180'" height="150" width="150"
          alt="your image" />
          <i class="fa-solid fa-trash"   (click)="deleteImage(index)" ></i>
      </div>

    </div>
    <div class="contetFile w-50" style="margin-top:20px">
      <!-- fille -->
      <input id="input-3" name="bookFile" id="filebook" formControlName="bookFile" accept=".pdf" type="file" class="file "
        data-show-upload="false" data-show-caption="true"  (change)="fileChange($event)">
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('bookFile')?.touched && addBook.get('bookFile')?.errors">
        <small *ngIf="addBook.get('bookFile')?.errors['required']">Please Select Pdf File</small>
      </div>
    </div>

    <input id="input-1" name="submit" value="Add Book" [disabled]="addBook.invalid" type="submit"
      class="submit mb-5 mt-4 btn btn-success">

  </div>
</form>