.container{
padding: 20px;
    border-radius: 20px;
    padding-left: 5px;
    /* box-shadow:   0px 2px 10px rgb(0, 0, 0); */
}
.container label{
    padding-left: 10px;
    border-left: 3px solid #FFC800;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;

}
.container label:hover{
    transition: all 1s ease-in-out;
color: #119DA4;
letter-spacing: 2px;
}
.new{
    border-left: 3px solid #119DA4;
    margin-top: 20px;
    padding-left: 20px;
    transition: all 1s ease-in-out;
    margin-bottom: 30px;

}
.new:hover
{
transition: all 1s ease-in-out;
color: #119DA4;
letter-spacing: 2px;
}
.new span{
    color: #FFC800;
}  
select{
    outline: #FFC800 1px solid;
    border: none;
    height: 35px;
}
select option{
    color: #119DA4;
} 
.butt{
    position:relative;
    left: 600px;
        margin-top: 30px;
}
.show-images{
   position: relative;
}
.show-images .blah{
    margin: 20px 0;
}
.fa-trash{
    color: #ea5252;
    background-color: #00000073;
    width: 150px;
    height: 27px;
    font-size: 17px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding-top: 4px;
    left: 0px;
    cursor: pointer;
}
.file {
    letter-spacing: 2px;

    transition: all 1s ease-in-out;
}

.file:hover {
    transition: all 1s ease-in-out;
    border-radius: 0px 30px 30px 0px;
    background-color: #119DA4;
}