

<form [formGroup]="addBook" (ngSubmit)="addBookData()" enctype="multipart/form-data">
  
  <div class="container">
    <h1 class="new"><span> A</span>dd <span>N</span>ew <span>B</span>ook:</h1>
    <div class="w-50">
      <label for="exampleFormControlInput1" class="form-label">Booke name:</label>
      <input type="text" class="form-control" formControlName="title" placeholder="Please Add Book Name">
      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('title')?.touched && addBook.get('title')?.errors">
        <small *ngIf="addBook.get('title')?.errors['required']">Please Enter Abook Name</small>
      </div>
    </div>
    <div class="mt-5  w-50">
      <label class="w-100 form-label">Select Category Name:</label>
      <select class="select w-100" formControlName="categoryName" name="categoryName">
        <option *ngFor="let i of dataSelect" [value]="i.title">{{i.title}}</option>
      </select>
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('categoryName')?.touched && addBook.get('categoryName')?.errors">
        <small *ngIf="addBook.get('categoryName')">The Input Is Required</small>
      </div>
    </div>
    <div class="mt-5  w-50">
      <label class="w-100 form-label">Select Category Name Engineering :</label>
      <select class="select w-100" formControlName="subCategoryName" name="subCategoryName">
        <option *ngFor="let i of dataCat" [value]="i.title">{{i.title}}</option>
      </select>
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('subCategoryName')?.touched && addBook.get('subCategoryName')?.errors">
        <small *ngIf="addBook.get('subCategoryName')">The Input Is Required</small>
      </div>
    </div>

    
    <!-- Inner Linkes -->
    <div formArrayName="innerLinks">
      <div class="my-2">
        <button type="button" (click)="onAddLinks()" class="btn btn-sm btn-warning">Add Inner links</button>
      </div>
 
        <div class="form-group mt-1" *ngFor="let link of innerlinkesControls; let i = index">
          <div formGroupName={{i}} >
            <input type="text" placeholder="Add Text linke Related for Link.." class="form-control mt-2" formControlName="text"/>
            <input type="text" placeholder="Add Inner linke Related for Book.." class="form-control mt-2" formControlName="link"/>
          </div>
        </div>
    </div>

     <!-- Add Add external links -->
     <div formArrayName="externalLinks">

      <div class="my-2">
        <button type="button" (click)="onInnerAddLinks()" class="btn btn-sm btn-warning">Add External links</button>
      </div>
  
        <div class="form-group mt-1" *ngFor="let linkk of externalLinkesControls; let i = index">
          <div formGroupName={{i}} >
            <input type="text" placeholder="Add Text About Link Related for Link.." class="form-control mt-2" formControlName="text"/>
            <input type="text" placeholder="Add Outer linke Related for Book.." class="form-control mt-2" formControlName="link"/>
          </div>
        </div>
      
    </div>
<!-- key Words -->
    <div formArrayName="keywords">

      <div class="my-2">
        <button type="button" (click)="onAddKeys()" class="btn btn-sm btn-warning">Add keywords</button>
      </div>

      <div class="form-group mt-1" *ngFor="let keyword of keywordsControl; let i = index">
        <input type="text" placeholder="Add Key Word related For Book.." class="form-control mb-2"
          formControlName={{i}} />
      </div>

    </div>
    <!-- Dis -->
    <div class="mt-5 w-50">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"
        placeholder="Please Add Some Description About Book .... " rows="3"></textarea>
      <div class="mt-2 p-1 alert alert-danger" *ngIf="addBook.get('description')?.touched && addBook.get('description')?.errors">
        <small *ngIf="addBook.get('description')?.errors['required']">The Input Is Required</small>
      </div>
    </div>

 
     <div class="contImg w-50" style="margin-top:20px">
      <!-- //image  -->
      <label for="Photo" class="form-label w-100 mb-3 mt-2 addArtNa">Book Picture</label>
      <input id="input-2" #attachment (change)="readURL($event)" name="cover" id="fileimages" formControlName="cover"
        type="text" accept="image/*" class="file " data-show-upload="false" data-show-caption="true" >
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('cover')?.touched && addBook.get('bookImage')?.errors">
        <small *ngIf="addBook.get('cover')?.errors['required']">Please Select Cover Image In Book</small>
      </div>
      <div class="mt-3  show-images" *ngFor="let item of imagearr let index= index">
        <img  id="blah" [src]="item || 'http://placehold.it/180'" height="150" width="150"
          alt="your image" />
          <i class="fa-solid fa-trash"   (click)="deleteImage(index)" ></i>
      </div>

    </div> --> -->
    <div class="contetFile w-50" style="margin-top:20px">
      <!-- fille -->
      <label for="Photo" class="form-label w-100 mb-3 mt-2 addArtNa">Book File</label>
      <input id="input-3" name="bookFile" id="filebook" formControlName="bookFile" accept=".pdf" type="text" class="file "
        data-show-upload="false" data-show-caption="true"  (change)="fileChange($event)">
      <div class="mt-2 p-1 alert alert-danger"
        *ngIf="addBook.get('bookFile')?.touched && addBook.get('bookFile')?.errors">
        <small *ngIf="addBook.get('bookFile')?.errors['required']">Please Select Pdf File</small>
      </div>
    </div>

    <input id="input-1" name="submit" value="Add Book" [disabled]="addBook.invalid" type="submit"
      class="submit mb-5 mt-4 btn btn-success">

  </div>
</form>