<main class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/home/blaz-photo-zMRLZh40kms-unsplash.webp" loading="lazy" width="100%" height="auto" class="why-us" alt="why us" />
            </div>
            <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center">
                <h3 class="display-5" style="font-weight: 400;">Why Us</h3>
                <p class="text">
                    We provide you with all the books in all disciplines that you can download for free, and we also
                    provide you with interesting and interesting articles that can be read from the site.
                </p>
                <button routerLink="/user/categories">Browse Now</button>
            </div>
        </div>
    </div>
</main>