<div class="container">
  <h1 class="new" ><span> A</span>dd <span>N</span>ew <span>B</span>ook:</h1>
<div class="mt-5 w-50">
    <label for="exampleFormControlInput1" class="form-label">Booke name:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Please Add Book Name">
  </div>
  <div class="mt-5 w-50">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please Add Some Description About Book .... " rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary butt">Add</button>
</div>